logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store
project-code/.idea/
project-code/.idea_modules/
project-code/.settings/
samples/java-logging/.settings/
samples/java-logging/.idea/
samples/java-logging/.idea_modules/
samples/scala-logging/.settings/
samples/scala-logging/.idea/
samples/scala-logging/.idea_modules/
